# === Python ===
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Logs and environments
*.log
*.env
.env.*


# === PyCharm ===
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Encrypted or Vault Data (optional - to keep vault truly secret)
vault_data/
gui/.vault_hidden